<h2><%= @article.title %></h2>
<p><%= markdown(@article.body) %></p>

<h2>Comments</h2>
  <%= render partial: "comments/comments" %>

<h2>Leave a comment</h2>
  <%= render partial: "comments/form" %>

<%= link_to 'Edit article', edit_article_path(@article) %>
<%= link_to 'Delete article', article_path(@article), method: :delete %>
<%= link_to 'All Articles', articles_path %>
