<div class="row">
  <section class="col-md-12 articles">

    <div class="article-title">
      <h2><%= @article.title %></h2>
      <small><%= l @article.created_at.to_date,format: :long %></small>
    </div>

    <div class="article-body">
      <p><%= markdown(@article.body) %></p>
      <%= link_to 'Edit article', edit_article_path(@article), class:"btn btn-outlined btn-black" %>
      <%= link_to 'Delete article', article_path(@article), method: :delete, class:"btn btn-outlined btn-black" %>
    </div>
  </section>

  <section class="col-md-12 comments">
    <h2>Comments [<%= @article.comments.size %>]</h2>
    <div class="comments-body">
      <%= render partial: "comments/comments" %>
    </div>
  </section>

  <section class="col-md-12 comment-form">
    <h2>Leave a comment</h2>
      <%= render partial: "comments/form" %>
  </section>
</div>
